.btn {
    &__primary {
        background-color: $primary;
        border: none;
        border-radius: $controlRadius;
        color: $white;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        font-weight: 500;
        outline: none;



        &:disabled {
            background-color: lighten($primary, 20%);
            cursor: not-allowed;
        }

        &:hover {
            &:enabled {
                background-color: darken($primary, 5%);
            }
        }
    }

    &__icon {
        vertical-align: middle;
        margin: 0 0.5rem;
    }

    &__sm {
        padding: 0.5rem 1rem !important;
    }
}