.btn {
    &__primary {
        background-color: $primary;
        border: none;
        border-radius: $controlRadius;
        color: $white;
        padding: 0.75rem;
        margin-top: 0.75rem;
        font-size: 1rem;
        font-weight: 500;

        &:disabled {
            background-color: lighten($primary, 20%);
            cursor: not-allowed;
        }

        &:hover {
            &:enabled {
                background-color: darken($primary, 5%);
            }
        }
    }
}