.dropdown {
    position: relative;
    display: block;

    &__content {
        display: none;
        position: absolute;
        right: 0;
        top: 2.0625rem;
        background-color: $white;
        border-radius: $commonBorderRadius;
        overflow: hidden;
        z-index: 4;
        text-align: center;
        box-shadow: 0 3px 10px 0 rgba($darkGray, 0.2);
    }

    &__content-table {
        display: none;
        position: absolute;
        right: 1rem;
        left: 1rem;
        top: 4.5rem;
        height: 10vw;
        z-index: 4;
        background-color: $white;
        overflow: hidden;
        border: 1px solid darken($lightGray, 10%);
        border-radius: $controlRadius;
        box-shadow: 0 3px 10px 0 rgba($darkGray, 0.2);
    }

    &__table-wrapper {
        overflow: auto;
        width: 100%;
        height: 100%;
    }

    &__table {
        width: 100%;
    }

    &__cell {
        display: block;
        padding: 0.25rem 1rem;
        width: 100%;
        box-sizing: border-box;

        &:hover {
            background-color: darken($lightGray, 10%);
        }
    }

    &:hover .dropdown__content {
        display: block;
    }

    &:hover .dropdown__content-table {
        display: block;
    }

    &__link {
        display: block;
        padding: 1rem 3em;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        color: $black;

        &:hover {
            background-color: darken($lightGray, 5%);
        }

        &:not(:last-child) {
            border-bottom: 1px solid darken($lightGray, 10%);
        }
    }
}