.control {
    &__input {
        display: block;
        margin-bottom: 1rem;
        background-color: $white;
        border: 1px solid darken($lightGray, 10%);
        border-radius: $controlRadius;
        padding: 0.875rem;
        font-size: 0.875rem;
        font-weight: 300;
        outline: none;
        box-sizing: border-box;
        width: 100%;
    }

    &__description {
        display: block;
        margin-top: -0.875rem;
        margin-bottom: 1rem;
        color: darken($lightGray, 50%);
        text-align: center;
    }

    &__label {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        display: block;
    }

    &__sm {
        padding: 0.5rem !important;
    }
}