html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.875rem;
    font-weight: 300;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: $white;
    cursor: pointer;
    text-decoration: underline;
}