@use 'variables';


.container {
    padding: 1rem 2rem;

    &__tight {
        width: 100%;
        position: relative;
        padding: 5rem $tightIndent;
        box-sizing: border-box;
    }

    &__modal {
        padding: 1rem;
    }
}