.modal {
    &__header {
        padding: 1.75rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.75rem;
    }

    &__description {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    &__footer {
        padding: 1rem;
        text-align: center;
    }
}