.slide {

    &__icon {
        position: relative;
    }

    &__title {
        position: relative;
        line-height: 2.5625rem;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 0.652rem;
    }

    &__description {
        position: relative;
        font-size: 1.125rem;
        line-height: 1.625rem;
    }

    &__img {
        position: absolute;
        top: 0;
        right: $tightIndent;
    }

}