@mixin sheet {
    width: 100%;
    background-color: $white;
    border-radius: $commonBorderRadius;
    box-shadow: 0 3px 10px 0 darken($lightGray, 7%);
    overflow: hidden;
    box-sizing: border-box;
}

.datatable {
    @include sheet;

    &__controls {
        @include sheet;
        padding: 1rem;
        margin-bottom: 1rem;
        text-align: right;
    }

    td {
        padding: 0.875rem 1rem;
        white-space: nowrap;
    }

    &__wrapper {
        padding: 1rem
    }

    .header-link {
        display: block;
        padding: 0.25rem 0.5rem;
        text-decoration: none;
        text-transform: uppercase;
        color: $darkGray;
        white-space: nowrap;
    }

    .header-row {
        th {
            border-bottom: 1px solid darken($lightGray, 5%);
            border-left: 1px solid $white;
            padding: 0.5rem 0.5rem;
            text-transform: uppercase;
            color: lighten($primary, 30%);
            white-space: nowrap;
        }
    }

    .row {
        border-bottom: 1px solid darken($lightGray, 5%);

        &:nth-child(odd) {
            background-color: $lightGray;
        }

        &:hover {
            background-color: lighten($primary, 50%);
        }
    }

    .border-left {
        border-left: 1px solid darken($lightGray, 5%);
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }
}

.asc {
    &:after {
        content: "";
        margin-left: 0.25rem;
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $darkGray;
    }
}


.desc {
    &:after {
        content: "";
        margin-left: 0.25rem;
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $darkGray;
    }
}

.open-deal {
    background-color: lighten($primary, 25%);
    color: $white !important;
}

.close-deal {
    background-color: $primary;
    color: $white !important;
}

.result-deal {
    background-color: lighten($success, 10%);
    color: $white !important;
}