.datatable {
    width: 100%;
    background-color: $white;
    border-radius: $commonBorderRadius;
    box-shadow: 0 3px 10px 0 darken($lightGray, 3%);

    td {
        padding: 1rem;
    }

    &__wrapper {
        padding: 1rem
    }

    .header-link {
        text-decoration: none;
        text-transform: uppercase;
        color: lighten($primary, 35%);
    }
}

.asc {
    &:after {
        content: "";
        margin-left: 0.25rem;
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $darkGray;
    }
}


.desc {
    &:after {
        content: "";
        margin-left: 0.25rem;
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $darkGray;
    }
}