$white: #ffffff;
$primary: #1e5fb1;
$secondary: #970159;
$black: #000000;
$lightGray: #ecf1f5; // #e6e6e6;
$darkGray: #44515c;

$tightIndent: 10rem;
$commonBorderRadius: 20px;
$controlRadius: 16px;
$dashboardMenuWidth: 200px;