<a name="interface"></a>
<div class="interface__container">
    <div class="interface__row">
        <div class="interface__media">
            <img src="assets/img/interface1.svg" class="interface__image">
        </div>
        <div class="interface__text">            
            <p class="interface__title">            
                <b>Дневник инвестора - это: </b> <br>Контроль сделок на мобильных устройствах
            </p>
            <span class="interface__description">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est modi nemo, adipisci similique eum tempore voluptates vero? Deleniti sunt, totam inventore corrupti nobis quia voluptatibus.
            </span>
        </div>
    </div>
    <div class="interface__row">
        <div class="interface__col">
            tytytyty
        </div>
        <div class="interface__col">
            <img src="assets/img/calendar.svg" class="interface__image">
        </div>
    </div>
    <div class="interface__row">
        <div class="interface__col">
            <img src="assets/img/man.svg" class="interface__image">
        </div>
        <div class="interface__col">
            fgfhgh
        </div>
    </div>
</div>