@import "variables";

.interface {

    &__container{
        background: linear-gradient($primary 0%, $secondary 100%);
    }

    &__row{
        display: flex;        
        }

    &__media{
        margin-top: 2rem;
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    
    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
        
    &__image{
        margin-right: 5rem;
    }
    

    &__title{        
        font-size: 2rem;
        margin-top: 5rem;
        margin-bottom: 1.325rem;
        color: $white;
        text-align: center;
        line-height: 2.5rem;
    }

    &__description{
        font-size: 2rem;
        font-weight: 300;
    }

}
