<a name="interface"></a>
<div class="interface__container">
    <div class="interface__row_top">
        <div class="interface__media">
            <img src="assets/img/interface1.svg" class="interface__image">
        </div>
        <div class="interface__text_top">            
            <p class="interface__title">            
                Контроль сделок на <b>мобильных устройствах:</b>
            </p>
            <span class="interface__description">
                Дневник инвестора, благодаря адаптированному под мобильные устройства интерфейсу, предоставляет возможность работы на телефонах и планшетах.
            </span>
            <img src="assets/img/mobile1.svg" class="interface__mobile_image">
        </div>
    </div>


    <div class="interface__row_bottom">
        <div class="interface__text_bottom">            
            <p class="interface__title">            
             <b>Дневник инвестора</b> - современный инструмент трейдера
            </p>
            <span class="interface__description">
                Совокупность возможностей дневника инвестора дает его пользователям полную свободу в отношении контроля и анализа рынка онлайн инвестиций.  
            </span>
        </div>

        <div class="interface__container_ft">
            <div class="interface__Row_ft">
                <div class="interface__col">
                    <p class="interface__ft1_disc">
                        <b class="interface__ft_title"> Оценка </b> <br> состояния рынков<br>на основе статистики
                    </p>
                    <img src="assets/img/ft1.svg" class="interface__ft1">                    
                </div>
                <div class="interface__col">
                    <p class="interface__ft2_disc">
                         Инвестиции<br>&<br>вклады
                    </p>
                    <img src="assets/img/ft2.svg" class="interface__ft2">
                </div>
                <div class="interface__col">
                    <p class="interface__ft3_disc">
                        <b class="interface__ft_title">Прогнозы</b> <br> основа постоянства<br> дохода и прибыли   
                    </p>
                    <img src="assets/img/ft3.svg" class="interface__ft3">
                </div>
            </div>
            <div class="interface__Row_ft">
                <div class="interface__ft4 interface__col">
                    <p class="interface__ft4_disc">
                        Управление<br>заработком
                    </p>
                    <img src="assets/img/ft4.svg" class="interface__ft4">
                </div>
                <div class="interface__ft5 interface__col">
                    <p class="interface__ft5_disc">
                        <b class="interface__ft_title">  Контроль и анализ </b> <br>широкие возможности <br> предоставленные <br> вашим дневником <br>

                    </p>
                    <img src="assets/img/ft5.svg" class="interface__ft5">
                </div>            
            </div>    
        </div>

    </div>

</div>