<a name="interface"></a>
<div class="interface__container">
    <div class="interface__row">
        <div class="interface__media">
            <img src="assets/img/interface1.svg" class="interface__image">
        </div>
        <div class="interface__text">            
            <p class="interface__title">            
                Контроль сделок на <b>мобильных устройствах:</b>
            </p>
            <span class="interface__description">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est modi nemo, adipisci similique eum tempore voluptates vero? Deleniti sunt, totam inventore corrupti nobis quia voluptatibus.
            </span>
            <img src="assets/img/mobile1.svg" class="interface__mobile_image">
        </div>
    </div>
    <div class="interface__row">
        <div class="interface__text">            
            <p class="interface__title">            
                Контроль сделок на <b>мобильных устройствах:</b>
            </p>
            <span class="interface__description">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est modi nemo, adipisci similique eum tempore voluptates vero? Deleniti sunt, totam inventore corrupti nobis quia voluptatibus.
            </span>
        </div>
        <div class="interface__col">
            <img src="assets/img/calendar.svg" class="interface__ime">
        </div>
    </div>
</div>