@import "variables";

.interface {

    &__container{
        background: linear-gradient($secondary 0%, $primary 100%);
    }

    &__row{
        margin-bottom: 2rem;
        display: flex;
        }

    &__col{
        width: 50%;
        display: flex;
        justify-content: center;
        }

    &__image{
    }

}
