.slide1 {
    background: url("/../../../assets/img/presentation1.jpg") no-repeat scroll center center / cover;

    &__content {
        position: absolute;
        bottom: 4rem;
        width: 35%;
    }

    &__title {
        font-size: 3.5rem;
        font-weight: 500;
        margin: 1rem 0;
    }

    &__description {
        font-size: 1.3rem;
        font-weight: 500;
    }

    &__icon {
        opacity: 0.5;
    }

}