@import 'variables';

.aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: $darkGray;
    color: $white;
    padding: 0.875rem;

    &__logotype {
        margin: 0 1.875rem 0 1.5rem;
    }

    &__profile {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }
}