@import 'variables';

.modal {

    &__window {
        position: absolute;
        right: 50%;
        top: 15%;
        transform: translateX(50%);
        border-radius: $modalBorderRadius;
        background-color: $lightGray;
        border: 1px solid $white;
        min-width: 25%;
    }


    &__backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($black, 0.6);
    }

    &__btn-close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: none;
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        background-color: $white;

        &:hover {
            background-color: darken($lightGray, 10%);
        }
    }
}