@import 'variables';

.modal {

    &__window {
        position: absolute;
        right: 50%;
        top: 15%;
        transform: translateX(50%);
        border-radius: $modalBorderRadius;
        background-color: $white;
        border: 5px solid $white;
        box-shadow: inset 0 0 40px 2px rgba($primary, 0.25);
        min-width: 25%;
    }


    &__backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($black, 0.6);
    }

    &__btn-close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: none;
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        background-color: $white;
        box-shadow: 0 0 8px 5px rgba($primary, 0.20);

        &:hover {
            background-color: lighten($primary, 40%);
            box-shadow: none;

        }
    }
}