@import 'variables';

.profile {
    &__wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        margin-top: 0.5rem;
        color: $white;
    }

    &__icon {
        margin-left: 0.5rem;
        font-size: 1.75rem;
        opacity: 0.5;
        background-color: $white;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        text-align: center;
        line-height: 2.125rem;
        font-weight: 500;
        color: $primary;
    }
}