.profile {
    &__icon{
        margin-left: 0.25rem;
        font-size: 2rem;
        opacity: 0.3;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        height: 100%;
    }
}