<div class="profile__wrapper dropdown">
    <ng-container *ngIf="!(currentUser | async); else user">
        <a (click)="signin()">Вход</a>&nbsp;/&nbsp;<a (click)="signup()">Регистрация</a>
        <div class="profile__icon"><img src="assets/img/profile.svg"
                alt="Профиль"></div>
    </ng-container>
</div>


<ng-template #user>
    <span>{{ (currentUser | async)?.login }}</span>
    <span class="profile__avatar">{{ (currentUser | async)?.login?.slice(0,1) | uppercase }}</span>
    <div class="dropdown__content">
        <a class="dropdown__link"
            routerLink="/dashboard"
            routerLinkActive="hidden">Журнал</a>
        <a class="dropdown__link"
            (click)="signout()">Выход</a>
    </div>
</ng-template>