<div class="modal__header">
    <h2>Регистрация</h2>
</div>

<div class="modal__content">
    <ng-container *ngIf="!result; else message">
        <form [formGroup]="signupForm">
            <input class="control__input"
                type="text"
                placeholder="Логин"
                formControlName="login">
            <span class="control__description">Минимум 3 латинских символа.</span>

            <input class="control__input"
                type="text"
                placeholder="Электронная почта"
                formControlName="email">

            <input class="control__input"
                placeholder="Пароль"
                type="password"
                formControlName="password">
            <span class="control__description">Минимум 5 символов.</span>

            <input class="control__input"
                placeholder="Подтверждение пароля"
                type="password"
                formControlName="checkPassword">
        </form>

        <button class="btn__primary"
            (click)="create()"
            type="button"
            [disabled]="signupForm.invalid">Зарегистрироваться</button>
    </ng-container>

</div>

<!-- <div class="modal__footer">
    Уже зарегистрированы? <a>Войти</a>
</div> -->

<tr-spinner [loading]="loading | async"></tr-spinner>

<ng-template #message>
    <div class="modal__description">
        <p class="phrase strong">Спасибо за регистрацию!</p>
        <p class="phrase">На указанный при регистрации электронный адрес
            отправили письмо с инструкцией по активации вашего аккаунта.</p>
    </div>
    <button class="btn__primary"
        (click)="close()"
        type="button">Закрыть</button>
</ng-template>