<div class="modal__header">
    <h2>Регистрация</h2>
</div>

<form [formGroup]="signupForm">
    <div class="modal__content">
        <input class="control__input"
            type="text"
            placeholder="Логин"
            formControlName="login">
        <span class="control__description">Минимум 3 латинских символа.</span>

        <input class="control__input"
            type="text"
            placeholder="Электронная почта"
            formControlName="email">

        <input class="control__input"
            placeholder="Пароль"
            type="password"
            formControlName="password">
        <span class="control__description">Минимум 5 символов.</span>

        <input class="control__input"
            placeholder="Подтверждение пароля"
            type="password"
            formControlName="checkPassword">

        <button class="btn__primary"
            (click)="create()"
            [disabled]="signupForm.invalid">Зарегистрироваться</button>
    </div>
</form>

<div class="modal__footer">
    Уже зарегистрированы? <a>Войти</a>
</div>