@import 'variables';

.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        background-color: $primary;
    }

    &__menu {
        flex: 1;
    }

    &__profile {
        height: 100%;
        padding-top: 1rem;
    }
}