@import "variables";


.feature {
    display: flex;
    width: 25%;
    flex-direction: column;
    padding: 2rem 4rem;  
    align-items: center;
    &__wrapper {
        background-color: $secondary;
        background: linear-gradient(#5f367f 0%, $secondary 100%);   
        background-attachment: fixed;  
    }

    &__row {
        margin-top: 3rem;
        margin-bottom: -2rem;
        display: flex;
        justify-content: space-evenly;
        padding: 2rem 3rem;
    }

    &__logo_row {        
        margin-top: -3rem;
        margin-bottom: -7rem;
        display: flex;
        justify-content: center;
    }

    &__top{
        margin-top: -5rem;        
    }

    &__bottom{
        margin-top: 8rem;        
    }

    &__title {
        font-size: 1.375rem;
        font-weight: 500;
        color: $white;        
        text-align: center;
        margin-top: 0.5rem;
    }

    &__discription {
        margin-top: 1rem;
        font-size: 1rem;
        color: $white;
        text-align: center;
    }

    &__icon {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        max-width: 9.375rem;
    }

}