<a name="features"></a>
<div class="container__tight feature__wrapper">
    <div class="feature__row">
        <div class="feature">
            <img class="feature__icon"
                src="assets/img/feature11.svg">
            <div>
                <h3 class="feature__title">Прогнозируйте доход</h3>
                <p class="feature__discription">Делайте прогрозы на основе композиций статистических данных, формируемых дневником!</p>
            </div>
        </div>

        <div class="feature__top feature">
            
            <img class="feature__icon"
                src="assets/img/feature21.svg">
            <div>
                <h3 class="feature__title">Анализируйте трейды</h3>
                <p class="feature__discription">Анализ рынка онлайн инвестиций позволяет наращивать доход и повышать шансы получения прибыли!</p>
            </div>
        </div>

        <div class="feature">
            
            <img class="feature__icon"
                src="assets/img/feature31.svg">
            <div>
                <h3 class="feature__title">Делитесь с друзьями</h3>
                <p class="feature__discription">Делитесь с друзьями и коллегами своими результатами и достижениями через
                    соцсети!</p>
            </div>
        </div>
    </div>

    <div class="feature__logo_row">
        <div class="feature__logo">
            <img class="feature__icon"
            src="assets/img/logo.svg">
        </div>
    </div>

    <div class="feature__row">
        <div class="feature">
        <img class="feature__icon"
            src="assets/img/feature61.svg">
        <div>
            <h3 class="feature__title">Удобство интерфейса</h3>
            <p class="feature__discription">
                Интуитивный и понятный интерфейс позволяет пользоваться дневником уже после первых минут регистрации!
            </p>
        </div>
        </div>
        <div class="feature__bottom feature">
            <img class="feature__icon"
                src="assets/img/feature51.svg">
            <div>
                <h3 class="feature__title">Интеграция с брокерами</h3>
                <p class="feature__discription">
                    Глубокая интеграция с брокерами определяет степень удобства работы с инвестиционным дневником!
                </p>
            </div>
            </div>
        <div class="feature">
            <img class="feature__icon"
                src="assets/img/feature41.svg">
        <div>
            <h3 class="feature__title">Контроль сделок</h3>
            <p class="feature__discription">
                Дневник инвестора предоставляет возможность связать все ваши сделки в единую систему кнотроля!
            </p>
        </div>
        </div>
    </div>
</div>
