<div class="container__tight">
    <div class="feature__row">
        <div class="feature">
            <img class="feature__icon" src="assets/img/feature3.svg">
            <div>
                <h3 class="feature__title">Поделиться</h3>
                <span class="feature__discription">Делитесь с друзьями своими результатами и достидениями через соцсети</span>
            </div>
        </div>
        <div class="feature">
            <img class="feature__icon" src="assets/img/feature3.svg">
            <div>
                <h3 class="feature__title">Поделиться</h3>
                <span class="feature__discription">Делитесь с друзьями своими результатами и достидениями через соцсети</span>
            </div>
        </div>
        <div class="feature">
            <img class="feature__icon" src="assets/img/feature3.svg">
            <div>
                <h3 class="feature__title">Поделиться</h3>
                <span class="feature__discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est modi nemo, adipisci similique eum tempore voluptates vero? Deleniti sunt, totam inventore corrupti nobis quia voluptatibus.</span>
            </div>
        </div>
    </div>
    <div class="section__row">
        
    </div>
</div>