<a name="features"></a>
<div class="container__tight feature__wrapper">
    <div class="feature__row">
        <div class="feature">
            <img class="feature__icon"
                src="assets/img/feature11.svg">
            <div>
                <h3 class="feature__title">Прогнозируйте доход</h3>
                <p class="feature__discription">Делитесь с друзьями своими результатами и достидениями через
                    соцсети</p>
            </div>
        </div>

        <div class="feature__top feature">
            
            <img class="feature__icon"
                src="assets/img/feature21.svg">
            <div>
                <h3 class="feature__title">Анализируйте трейды</h3>
                <p class="feature__discription">Делитесь с друзьями своими результатами и достидениями через
                    соцсети</p>
            </div>
        </div>

        <div class="feature">
            
            <img class="feature__icon"
                src="assets/img/feature31.svg">
            <div>
                <h3 class="feature__title">Делитесь с друзьями</h3>
                <p class="feature__discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est modi
                    nemo, adipisci similique eum tempore voluptates vero? Deleniti sunt, totam inventore corrupti nobis
                    quia voluptatibus.</p>
            </div>
        </div>
    </div>

    <div class="feature__logo_row">
        <div class="feature__logo">
            <img class="feature__icon"
            src="assets/img/logo.svg">
        </div>
    </div>

    <div class="feature__row">
        <div class="feature">
        <img class="feature__icon"
            src="assets/img/feature61.svg">
        <div>
            <h3 class="feature__title">Удобство интерфейса</h3>
            <p class="feature__discription">Делитесь с друзьями своими результатами и достидениями через
                соцсети</p>
        </div>
        </div>
        <div class="feature__bottom feature">
            <img class="feature__icon"
                src="assets/img/feature51.svg">
            <div>
                <h3 class="feature__title">Интеграция с брокерами</h3>
                <p class="feature__discription">Делитесь с друзьями своими результатами и достидениями через
                    соцсети</p>
            </div>
            </div>
        <div class="feature">
            <img class="feature__icon"
                src="assets/img/feature41.svg">
        <div>
            <h3 class="feature__title">Контроль сделок</h3>
            <p class="feature__discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est modi
                nemo, adipisci similique eum tempore voluptates vero? Deleniti sunt, totam inventore corrupti nobis
                quia voluptatibus.</p>
        </div>
        </div>
    </div>
</div>
