@import 'variables';

.menu {
    &__wrapper {
        display: flex;
        margin: 0.5rem 0 0 2rem;
        height: 100%;
        align-items: center;
    }

    &__item {
        list-style-type: none;
        margin-left: 1.5rem;
        font-size: 0.875rem;
        color: $white;
        text-transform: uppercase;
        font-weight: 500;
    }
}