@import 'variables';

.statistics {
    &__wrapper {
        padding: 1rem;
        display: flex;
    }
}

.currency {
    &__box {
        background-color: $white;
        border-radius: $commonBorderRadius;
        box-shadow: 0 3px 10px 0 darken($lightGray, 7%);
        overflow: hidden;
        box-sizing: border-box;
        padding: 1rem;
        margin-bottom: 1rem;
        text-align: right;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__header {
        color: $primary;
    }

    &__rate {
        color: $secondary;
    }

    &__description {
        margin-top: 0.5rem;
        display: inline-block;
    }
}