<div class="modal__header">
    <h2>Вход</h2>
</div>

<form [formGroup]="signinForm">
    <div class="modal__content">
        <input class="control__input"
            type="text"
            placeholder="Электронная почта"
            formControlName="email">

        <input class="control__input"
            placeholder="Пароль"
            type="password"
            formControlName="password">

        <button class="btn__primary"
            (click)="signin()"
            type="button"
            [disabled]="signinForm.invalid">Войти</button>
    </div>
</form>

<div class="modal__footer">
    Забыли пароль? <a>Восстановить</a>
</div>